<ejs-treegrid #treeGrid [dataSource]='data' [treeColumnIndex]='1' [allowSorting]="true"
    [showColumnChooser]='true' (contextMenuOpen)="contextMenuOpen($event)" (contextMenuClick)="contextMenuClick($event)"
    [enableVirtualization]='true' [height]='500' childMapping='subtasks'>
    <e-columns>
        <ng-container *ngFor="let column of columnList">
            <e-column [field]="column.fieldName" [headerText]="column.name" [textAlign]="column.alignment"
            [defaultValue]="column.defaultValue" [customAttributes]="column.customAttributes"></e-column>
        </ng-container>
    </e-columns>
</ejs-treegrid>
