.modal-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    h4 {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 0;
    }
}
.drop-container {
    padding: 4px 8px;
}
.modal-button {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}